# Default ignored files
/../../BitLAB /.idea/shelf/
/../../BitLAB /.idea/workspace.xml
# Ignored default folder with query files
/../../BitLAB /.idea/queries/
# Datasource local storage ignored files
/../../BitLAB /.idea/dataSources/
/../../BitLAB /.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../BitLAB /.idea/httpRequests/
